<div class="contact-section" id="contact-section">
  <div class="contact-info" id="contact">
      <div class="card">
        <i class="card-icon far fa-envelope"></i>
        <p>support@oktetai.com</p>
      </div>

      <div class="card">
        <i class="card-icon fas fa-map-marker-alt"></i>
        <p>Boston, USA</p>
      </div>
  </div>
</div>