<section class="explanationSection" id="explanationSection">
    <div class="explanationsContainer">
        <div class="explanationsSection">
            <div class="explanationsText">
                <h2>Modal Selection</h2>
                <p>This modal allows you to choose from different AI service plans. Each plan offers a distinct set of advanced AI tools designed to meet various needs. By selecting a plan, you can access the specific AI services included, enabling you to utilize cutting-edge technology for tasks such as conversational AI, content generation, and more.</p>
            </div>
            <div class="explanationImage">
                <img src="../img/modals.webp" alt="Modal Selection">
            </div>
        </div>
        <div class="explanationsSection">
            <div class="explanationImage">
                <img src="../img/chatcontainer.webp" alt="AI Chat Selection Interface">
            </div>
            <div class="explanationsText">
                <h2>AI Chat Selection Interface</h2>
                <p>When you select the AI services you want to use, this interface will display them side by side. You can input your query, and it will be sent to all the selected AI services at the same time. Each AI service will respond to the same query, allowing you to compare their answers and choose the one that best fits your needs.</p>
            </div>
        </div>
        <div class="explanationsSection">
            <div class="explanationsText">
                <h2>Sidebar Navigation</h2>
                <p>This sidebar provides toggle buttons for various features including AI chats, notes, and the paraphraser tool. It also contains a list of your previous chats for easy access. This setup allows you to efficiently navigate and utilize the different tools available within the application.</p>
            </div>
            <div class="explanationImage" id="sidebarImage">
                <img src="../img/sidebar.webp" alt="Sidebar Navigation">
            </div>
        </div>
        <div class="explanationsSection">
            <div class="explanationImage">
                <img src="../img/paraphraserandnotes.webp" alt="Notes and Paraphraser">
            </div>
            <div class="explanationsText">
                <h2>Notes and Paraphraser</h2>
                <p>This interface allows you to interact with multiple AI services simultaneously, add notes to your conversations, and use a paraphrasing tool. You can write and save notes within each conversation and rephrase text using the paraphraser. This setup streamlines managing AI interactions, note-taking, and text rephrasing in one place.</p>
            </div>
        </div>
    </div>
</section>