<!-- header design -->
<header class="header">
    <a href="#" class="logo">
        <img src="/img/combinedai-icon.webp" alt="CombinedAI" /><span class="animate" style="--i:1;"></span>
    </a>
    <div class="bx bx-menu" id="menu-icon"><span class="animate" style="--i:2;"></span></div>

    <nav class="navbar">
        <a href="#main" class="active">Home</a>
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/terms-conditions">Terms & Conditions</a>
        <a href="/login">Login</a>

        <span class="active-nav"></span>
        <span class="animate" style="--i:2;"></span>
    </nav>
</header>