<section class="main" id="main">
    <div class="main-container">
        <div class="left-content">
            <p class="tagline">Most efficient, fastest AI tool. Combine everything in a single website</p>
            <h1>Chat with all the best AI models at the same time</h1>
            <div class="cta-buttons">
                <a href="/login" class="cta-button">Get Started</a>
            </div>
        </div>
        <div class="right-content">
            <img src="/img/combinedai-icon.webp" alt="Logo" class="main-logo">
        </div>
    </div>

    <div class="footer1">
        <h2>Oktet AI</h2>
        <p>8 models including OpenAI, Google Gemini, Anthropic</p>
    </div>
</section>