<div class="ai-section" id="aiSection">
    <div id="ai-header">
        <h3>Ai Chats</h3>
        <button class="maxSizeBtn" data-target="aiSection">
            <span class="material-icons">fullscreen</span>
        </button>
        <button id="openModalButton">
            <span class="material-icons">apps</span>
        </button>
    </div>
    <div class="outputContainer" id="outputContainer">
        <button id="selectModelsButton" class="select-models-button" style="display: none;">Select Models</button>
        <div class="chatContainer" id="chatContainer">
            <div class="containerHeader" id="containerHeaderChat"> 
                <img src="/img/chatgpt-icon.webp" alt="ChatGPT 3.5" class="chat-icon">ChatGPT3.5
                <div id="scrollProgresschatContainer" class="scrollProgress"></div>
                <button class="show-only-button" data-container="chatContainer">
                    <span class="material-icons">fullscreen</span>
                </button>
            </div>
            <div id="labelContainer"></div>
        </div>
        <div class="chatContainer4" id="chatContainer4">
            <div class="containerHeader" id="containerHeaderChat4">
                <img src="/img/chatgpt-icon.webp" alt="ChatGPT 4o" class="chat-icon">ChatGPT4o
                <div id="scrollProgresschatContainer4" class="scrollProgress"></div>
                <button class="show-only-button" data-container="chatContainer4"> 
                    <span class="material-icons">fullscreen</span>
                </button>
            </div>
            <div id="labelContainer4"></div>
        </div>
        <div class="geminiFlashContainer" id="geminiFlashContainer">
            <div class="containerHeader" id="containerHeaderGeminiFlash">
                <img src="/img/gemini-icon.webp" alt="Gemini Flash" class="chat-icon">Gemini 1.5 Flash
                <div id="scrollProgressgeminiFlashContainer" class="scrollProgress"></div>
                <button class="show-only-button" data-container="geminiFlashContainer">
                    <span class="material-icons">fullscreen</span>
                </button>
            </div>
            <div id="labelContainerGeminiFlash"></div>
        </div>
        <div class="geminiContainer" id="geminiContainer">
            <div class="containerHeader" id="containerHeaderGemini">
                <img src="/img/gemini-icon.webp" alt="Gemini" class="chat-icon">Gemini 1.5 Pro
                <div id="scrollProgressgeminiContainer" class="scrollProgress"></div>
                <button class="show-only-button" data-container="geminiContainer">
                    <span class="material-icons">fullscreen</span>
                </button>
            </div>
            <div id="labelContainerGemini"></div>
        </div>
        <div class="claudeContainer" id="claudeContainer">
            <div class="containerHeader" id="containerHeaderClaude">
                <img src="/img/claude-icon.webp" alt="Claude Haiku" class="chat-icon">Claude Haiku
                <div id="scrollProgressclaudeContainer" class="scrollProgress"></div>
                <button class="show-only-button" data-container="claudeContainer">
                    <span class="material-icons">fullscreen</span>
                </button>
            </div>
            <div id="labelContainerClaude"></div>
        </div>
        <div class="claudeSonnetContainer" id="claudeSonnetContainer">
            <div class="containerHeader"id="containerHeaderClaudeSonnet">
                <img src="/img/claude-icon.webp" alt="Claude Sonnet" class="chat-icon">Claude Sonnet
                <div id="scrollProgressclaudeSonnetContainer" class="scrollProgress"></div>
                <button class="show-only-button" data-container="claudeSonnetContainer">
                    <span class="material-icons">fullscreen</span>
                </button>
            </div>
            <div id="labelContainerClaudeSonnet"></div>
        </div>
        <div class="perplexityContainer" id="perplexityContainer">
            <div class="containerHeader" id="containerHeaderPerplexity">
                <img src="/img/perplexity-icon.webp" alt="Perplexity" class="chat-icon">Perplexity
                <div id="scrollProgressperplexityContainer" class="scrollProgress"></div>
                <button class="show-only-button" data-container="perplexityContainer">
                    <span class="material-icons">fullscreen</span>
                </button>
            </div>
            <div id="labelContainerPerplexity"></div>
        </div>
        <div class="llamaContainer" id="llamaContainer">
            <div class="containerHeader" id="containerHeaderLlama">
                <img src="/img/llama-icon.webp" alt="Llama" class="chat-icon">Llama
                <div id="scrollProgressllamaContainer" class="scrollProgress"></div>
                <button class="show-only-button" data-container="llamaContainer">
                    <span class="material-icons">fullscreen</span>
                </button>
            </div>
            <div id="labelContainerLlama"></div>
        </div>
    </div>
</div>
