<div id="paraphrasingSection" class="paraphrasing-section">
    <div id="paraphrasing-header">
        <h3>Paraphraser</h3>
        <button id="paraphraseButton">
            <span class="material-icons">send</span>
        </button>
        <button class="maxSizeBtn" data-target="paraphrasingSection">
            <span class="material-icons">fullscreen</span>
        </button>
    </div>
    <textarea id="paraphrasingInputTextarea" rows="10" cols="50" placeholder="Write the text to be paraphrased..."></textarea>
    <textarea id="paraphrasingOutputTextarea" rows="10" cols="50" placeholder="Paraphrased text will appear here..." readonly></textarea>
</div>