@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --bg-color: #030303;
    --second-bg-color: #030303;
    --text-color: #ededed;
    --border-color: #2d2c30;
    --accent-color: #c17cea;
    --hover-color: #252527;
    --heading-font-family: 'Poppins', sans-serif;
    --body-font-family: 'Lato', sans-serif;
    --main-font-size: 14px;
    --padding-standard: 14px; /* Standard padding */
    --margin-standard: 14px; /* Standard margin */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font-family);
    background-color: var(--bg-color); /* Dark background from the color scheme */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100svh;
    color: var(--text-color);
    font-size: var(--main-font-size);
    padding: var(--padding-standard);
}

.container {
    width: 100%;
    max-width: 400px;
    padding: var(--padding-standard);
    background-color: var(--second-bg-color); /* Second background color */
    border-radius: 8px;
    text-align: center;
    margin: var(--margin-standard);
}

.back_link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    margin-bottom: var(--margin-standard);
    text-align: left;
}

h1 {
    font-family: var(--heading-font-family);
    color: var(--text-color);
    font-size: 24px;
    margin-bottom: var(--margin-standard);
}

p {
    color: var(--text-color);
    margin-bottom: var(--margin-standard);
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: var(--padding-standard);
    margin-bottom: var(--margin-standard);
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    border-radius: 4px;
    color: var(--text-color);
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-30%); 
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--border-color);
}

.forgot_password_link {
    color: #4d4d4d;
    margin-bottom: var(--margin-standard);
    display: inline-block;
    text-decoration: underline;
    font-size: 0.9rem;
}

.forgot_password_link:hover {
    color: var(--text-color);
}

.sign-in-button {
    width: 100%;
    padding: var(--padding-standard);
    background-color: var(--bg-color);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: var(--margin-standard);
    font-weight: 600;
}

.sign-in-button:hover {
    color: var(--text-color);
}

.or-continue {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: var(--margin-standard);
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin-standard);
}

.social-buttons a {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: var(--padding-standard);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-buttons a:hover {
    background-color: var(--hover-color);
}

.social-buttons i {
    margin-right: 8px;
}

.signup_link {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-top: var(--margin-standard);
}

.signup_link a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 600;
}

.signup_link a:hover {
    color: var(--text-color);
}

.password-requirements {
    text-align: left;
    margin: 5px 0 15px;
    color: #666;
}

.password-requirements small {
    font-size: 0.8em;
}
